
<div class="d-flex flex-column align-items-center">
    <div class="container" style="max-width: 700px;">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-4 mt-4 mt-lg-0">Создание нового желания</h2>
            </div>
        </div>
        <div class="card">
            <div class="d-flex flex-column">
                <div class="row">
                    <div class="card-body m-4">
                        <div class="mb-3">
                            <label for="WishName" class="form-label">Название</label>
                            <input type="text" class="form-control" id="WishName" placeholder="Введите название желания...">
                        </div>
                        <div class="mb-3">
                            <label for="WishDescription" class="form-label">Описание</label>
                            <input type="text" class="form-control" id="WishDescription" placeholder="Введите описание желания...">
                        </div>
                        <button id="CreateWish" type="submit" class="btn btn-lg btn-primary w-100">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMessageLabel">Сообщение</h5>
            </div>
            <div id="modalMessageText" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-row-reverse">
                    <button id="AddNewWish" type="button" class="btn btn-primary ms-2" data-bs-dismiss="modal">Добавить новое желание</button>
                    <button id="MyWishesButton" type="button" class="btn btn-info" data-bs-dismiss="modal">Перейти к списку желаний</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalErrorMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalErrorMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalErrorMessageLabel">Ошибка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalErrorMessageText" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-row-reverse">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>