@{
    ViewData["Title"] = "Начальная страница";
    Layout = "_Layout";
}

<div class="text-center ">
    <h2 class="pb-3">Добро пожаловать на сервис желаний What I Want!</h2>
    <h4 class="pb-1">Для продолжения зарегистрируйтесь</h4>
    <h4>или войдите в существующий аккаунт.</h4>
</div>


